name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  rust:
    name: rust / build+test+fmt+clippy
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: setup rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt, clippy

      - name: cargo build
        run: cargo build --verbose

      - name: cargo test
        run: cargo test --verbose

      - name: cargo test (all golden vectors)
        run: cargo test --test golden_vectors -- --ignored

      - name: cargo fmt check
        run: cargo fmt --all -- --check

      - name: cargo clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
